.circle {
	background-color: green;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	index-left: 250px;
	animation-name: fly;
	animation-duration: 4s;
	animation-iteration-count: 3;
	animation-direction: alternate;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes fly {
	0%, 100% {
		transform: rotate(0deg) translateX(0px);
	}
	50% {
		transform: rotate(0deg) translateX(150px);
	}
}