.demo {
	background-color: #466368;
	background-image: url(http://vignette3.wikia.nocookie.net/doratheexplorer/images/2/2f/Dora-the-explorer.png) ;
	background-position: 20% 50%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
